// Colors
$color-background: #383a42;
$color-white: #ffffff;
$color-black: #131415;
$color-highlight: #ffc700;

// Dimensions
$border-radius: 12px;
$swiper-button-size: 40px;
$swiper-button-mobile-size: 32px;

// Spacing
$padding-content-mobile: 40px 20px;
$gap-mobile: 16px;
