@import "../../styles/main";

.title {
  font-weight: 900;
  font-style: italic;
  font-size: 32px;
  line-height: 48px;
  text-transform: uppercase;
  color: #ffc700;
  margin-bottom: 8px;
}

/* ========== MOBILE STYLES ========== */
@include respond-max($breakpoint-mobile-sm) {
  .title {
    font-size: 16px;
    line-height: 32px;
  }
}
