@import "../../styles/main";

.navbar {
  background-color: #131415;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: white;
  margin-right: 16px;
  cursor: pointer;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 24px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  color: white;
  padding: 10px 18px;
  border-radius: 100px;
  cursor: pointer;
}

.nav-links li.active a {
  background-color: #383a42;
  color: #ffc700;
}

.nav-links li:hover a {
  background-color: #2a2b2f;
  color: #ffc700;
}

.navbar-right button {
  padding: 8px 32px;
  margin-left: 8px;
  border-radius: 100px;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  cursor: pointer;
}

.btn-signup {
  background-color: #ffc700;
  color: #1f1f1f;
  border: none;
}

.btn-login {
  background-color: #222;
  color: white;
  border: 1px solid #ffc700;
}

/* ========== MOBILE STYLES ========== */
@include respond-max($breakpoint-mobile-sm) {
  .navbar {
    padding: 20px 12px;
    height: 60px;
  }

  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: #131415;
    padding: 20px 0;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    gap: 32px;

    li {
      text-align: center;
      margin: 8px 0;
    }

    li a {
      font-size: 16px;
      padding: 14px 142px;
    }
  }

  .nav-links.open {
    display: flex;
    padding: 20px;
    height: 100vh;
    background: #1f2023;
  }

  .navbar-right {
    margin-left: auto;
    display: flex;
  }

  .navbar-left {
    flex: 1;
  }

  .navbar-right button {
    padding: 6px 24px;
    font-size: 12px;
  }
}
