@import "../../styles/main";

.content {
  background: #131415;
  padding: 80px 236px;
  position: relative;

  .swiper {
    position: unset;
  }
}

/* ========== MOBILE STYLES ========== */
@include respond-max($breakpoint-mobile-sm) {
  .content {
    padding: 40px 20px;
  }
}
