@import "../../styles/main";

.nft-collections .slide-action {
  height: 245px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 85px;
    width: 40px;
    height: 40px;
    background: #383a42;
    border-radius: 12px;
    z-index: 10;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px 16px;
    }
  }

  .swiper-button-next {
    right: 236px;

    &::after {
      background-image: url("/icons/next.svg");
    }
  }

  .swiper-button-prev {
    left: auto;
    right: 282px;

    &::after {
      background-image: url("/icons/prev.svg");
    }
  }
}

.nft-drops-calendar .slide-action {
  height: 240px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 464px;
    width: 40px;
    height: 40px;
    background: #383a42;
    border-radius: 12px;
    z-index: 10;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px 16px;
    }
  }

  .swiper-button-next {
    left: 50%;
    transform: translateX(-50%) translateX(-43px);

    &::after {
      background-image: url("/icons/next.svg");
    }
  }

  .swiper-button-prev {
    left: 50%;
    transform: translateX(-50%) translateX(-90px);

    &::after {
      background-image: url("/icons/prev.svg");
    }
  }
}

.hot-nft .slide-action {
  height: 240px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
  }
}

.promotion .slide-action {
  height: 240px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
  }
}

.nft-container__content {
  display: contents;
}

/* ========== MOBILE STYLES ========== */
@include respond-max($breakpoint-mobile-sm) {
  .content {
    padding: 40px 20px;
  }

  .nft-collections {
    .slide-action {
      height: unset;

      img {
        height: 140px;
      }

      .swiper-button-next,
      .swiper-button-prev {
        width: 32px;
        height: 32px;
        top: 40px;
      }

      .swiper-button-next {
        right: 20px;
      }

      .swiper-button-prev {
        right: 58px;
      }
    }
  }

  .nft-drops-calendar {
    .slide-action {
      height: unset;

      img {
        width: 100%;
        height: 171px;
        object-fit: unset;
      }

      .swiper-button-next,
      .swiper-button-prev {
        width: 32px;
        height: 32px;
        top: 256px;
      }

      .swiper-button-next {
        left: 102%;
      }

      .swiper-button-prev {
        left: 104.5%;
      }
    }
  }

  .hot-nft,
  .promotion {
    margin-top: 40px;

    .slide-action img {
      height: 167px;
    }
  }

  .nft-container__content {
    display: flex;
    gap: 16px;
  }

  .hot-nft .slide-action,
  .promotion .slide-action {
    height: unset;
  }
}
