.slide-img {
  margin-top: 80px;

  .swiper-wrapper {
    transition: 0.8s ease-out !important;
  }

  .swiper-pagination-bullet {
    background: #ffffff99;
    width: 28px;
    height: 4px;
    border-radius: 20px;
  }

  .swiper-pagination-bullet-active {
    background: #ffc700;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
  }
}
